:root {
  /* --clr-primary: #dedde2; */
  --clr-primary: #ffff;
  --clr-primary-light: #f2f2f2;
  --clr-grey-1: #0d0d0d;
  --clr-grey-5: #bdbbbe;
  --clr-grey-10: #f1f5f8;
  --ff-primary: "Space Grotesk", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.15rem;
  --radius: 0.5rem;
  --container-padding: 2% 3% 2%;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr--grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  background: #061021;

  color: #f8f8f8;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-10);
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--clr-grey-10);
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
}

h3 {
  font-weight: bolder;
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
  font-weight: lighter;
}

p {
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-5);
  font-size: 0.875rem;
}

/* Nav bar */

.nav {
  padding: 0.5% 3% 0.5%;
}

#logo {
  max-width: 13%;
  margin-right: 2%;
}

.search-input-Div {
  display: flex;
  justify-content: flex-end;
}

.input-container {
  position: relative;
  height: 5%;
}

.search-input {
  outline: var(--clr-grey-1);
  border: 2px solid #3e61d0;
  padding: 3% 5% 3%;
  border-radius: 15px;
  background-color: var(--clr-grey-10);
  height: 50%;
  padding-right: 35px;
}

.search-input:focus {
  outline: none;
  box-shadow: none;
}

.searchIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #3e61d0;
}

/* Location */
.topSection {
  padding: var(--container-padding);
}
.DailyWeather {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.countryDiv {
  justify-content: space-between;
  padding: 2%;
}

/* weather list */
.countryIcon {
  width: 13%;
  height: 15%;
}
.countryIcon img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.weeklyCharts {
  padding: var(--container-padding);
}
.WeatherDailyList {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
}

.WeatherDailyList::-webkit-scrollbar {
  color: transparent;
  font-size: 5px;
}

.weatherList {
  background: var(--clr-grey-5);
  width: fit-content;
  min-width: 8%;
  padding: 15px;
  margin-bottom: 2%;
  border-radius: 15px;
  text-align: center;
  margin-left: 1%;
}
.weatherList span {
  display: block;
}
.weatherList .weatherIcon {
  width: 100%;
}

.weatherMap {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

/* HighCharts */
.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: var(--ff-primary);
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

@media (max-width: 600px) {
  img {
    object-fit: cover;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  h3 {
    font-weight: bolder;
    font-size: 1rem;
  }

  h4 {
    font-size: 0.5rem;
  }

  .DailyWeather h2 {
    font-size: 1rem;
  }

  .DailyWeather h4 {
    font-size: 0.4rem;
    font-weight: bolder;
  }

  .countryDiv {
    padding: 4% 2% 4%;
  }

  .weatherList {
    min-width: 15%;
  }

  .brandName {
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .weatherMap {
    width: 100%;
    height: 200px;
    border-radius: 25px;
    margin-top: 25px;
  }
}
